body{
  background-color: dodgerblue;
}

img.start-giffy{
  display: block;
  position: relative;
  margin: 0 auto;
  border: groove 4px #008080;
  border-radius: 50px;
}

.start-giffy{
  display: block;
  position: relative;
  margin: 0 auto;
  border: groove 4px #008080;
  border-radius: 50px;
}
